.todoItem {
    width: 100vw;
    height: 30px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__name {
        font-size: 2rem;
        color: rgba(146, 20, 12, 1);
        font-weight: bold;
        
        &--done {
            color: rgba(54, 209, 54, 1);
            font-weight: normal;
            text-decoration: line-through;
        }
    }

    &__delete {
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        color: rgba(146, 20, 12, 1);      
        position: absolute;
        right: 25px;  
    }
}