$accent1: #DC3B41;
$accent2: #86ABA8;
$font1: #F7F0E5;
$background1: #193153;
$background2: #1A3F54;


.navigationBar {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__input {
        width: 150px;
        height: 30px;
        font-size: 1.2rem;
        border: none;
        border-bottom: 1px solid $accent2;
        background: transparent;
        color: $font1;
        padding-left: 15px;
        margin-right: 20px;

        &--empty {
            border-bottom-color: $accent1;
            &::placeholder {
                color: $accent1;
                font-weight: bold;
            }
        }
    }

    &__button {
        width: 75px;
        height: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 50px;
        border: none;
        background-color: $accent2;
    }
}