$accent1: #DC3B41;
$accent2: #86ABA8;
$font1: #F7F0E5;
$background1: #193153;
$background2: #1A3F54;


.navigationBar {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $background1;
    padding-top: 25px;
    border-bottom: solid 2px $accent2;
    
    @media screen and (max-width: 1100px) {
        padding: 0;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        height: 200px;
    }

    @media screen and (max-width: 556px) {
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        height: 275px;
    }

    &__button {
        width: 100px;
        height: 30px;
        font-size: 1.7rem;
        font-weight: bold;
        border-radius: 50px;
        border: none;
        background-color: $accent2;
        transition: 0.3s;
        cursor: pointer;

        @media screen and (max-width: 1100px) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            justify-self: left;
            margin-left: 15px;
        }

        @media screen and (max-width: 556px) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
            justify-self: center;
            margin-left: 0;
            width: 200px;
            margin-top: 15px;
        }

        &:hover {
            background-color: $background1;
            color: $accent2;
            border: 1px solid $accent2;
        }
    }
}

.task {
    position: relative;
    width: 250px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1100px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        margin: 0;
        width: 350px;
    }

    &__label {
        position: absolute;
        font-size: 1.7rem;
        color: $accent2;
        transition: 0.2s;
        z-index: 1;

        &--active {
            font-size: 1.2rem;
            transform: translateX(-60px) translateY(-25px);
        }

        &--empty {
            color: $accent1;
        }
    }


    &__input {
        width: 250px;
        height: 40px;
        font-size: 1.7rem;
        border: none;
        border-bottom: 1px solid $accent2;
        background: transparent;
        color: $font1;
        padding-left: 15px;
        z-index: 2;

        @media screen and (max-width: 1100px) {
            width: 350px;
        }

        &--empty {
            border-bottom-color: $accent1;
        }
    }
}

.city {
    position: relative;
    width: 250px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1100px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0;
        width: 350px;
        margin-top: 15px;
    }

    &__label {
        position: absolute;
        font-size: 1.7rem;
        color: $accent2;
        transition: 0.2s;
        z-index: 1;

        &--active {
            font-size: 1.2rem;
            transform: translateX(-60px) translateY(-25px);
        }

        &--empty {
            color: $accent1;
        }
    }


    &__input {
        width: 250px;
        height: 40px;
        font-size: 1.7rem;
        border: none;
        border-bottom: 1px solid $accent2;
        background: transparent;
        color: $font1;
        padding-left: 15px;
        z-index: 2;

        @media screen and (max-width: 1100px) {
            width: 350px;
        }

        &--empty {
            border-bottom-color: $accent1;
        }
    }
}


.deadline {
    position: relative;
    width: 250px;
    height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1100px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin: 0;
        width: 350px;
        margin-top: 15px;
    }

    &__label {
        position: absolute;
        font-size: 1.7rem;
        color: $accent2;
        transition: 0.2s;
        z-index: 0;

        &--active {
            font-size: 1.2rem;
            transform: translateX(-60px) translateY(-25px);
        }

        &--empty {
            color: $accent1;
        }
    }


    &__input {
        width: 250px;
        height: 40px;
        font-size: 1.7rem;
        border: none;
        border-bottom: 1px solid $accent2;
        background: transparent;
        color: $font1;
        padding-left: 15px;
        z-index: 2;

        @media screen and (max-width: 1100px) {
            width: 350px;
        }

        &--empty {
            border-bottom-color: $accent1;
        }
    }
}


.tooltip {
    width: 150px;
    height: 50px;
    position: absolute;
    margin-top: -50px;
    background-color: $background2;
    border: 1px solid $accent1;
    border-radius: 10px;
    z-index: 2;
    color: $accent1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    visibility: hidden;
    transition: 0.3s;

    @media screen and (max-width: 1100px) {
        margin: 0;
        right: -260px;
        font-size: 2rem;
        width: 250px;
    }

    @media screen and (max-width: 556px) {
        
        margin-top: -50px;
        right: auto;
        
    }

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: $accent1 transparent transparent transparent;

        @media screen and (max-width: 1100px) {
            top: 30%;
            left: 0;
            margin-left: -20px;
            border-color: transparent $accent1 transparent transparent;
        }

        @media screen and (max-width: 556px) {
            top: 100%;
            left: 50%;
            margin-left: -10px;
            border-color: $accent1 transparent transparent transparent;
        }
    }

    &--visible {
        visibility: visible;
        animation: show ease-in-out;
        animation-duration: 0.2s;
    }
}

@keyframes show {
    from {
        opacity: 0.1;
    } 

    to {
        opacity: 1;
    }
}