.navigationBar {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #193153;
  padding-top: 25px;
  border-bottom: solid 2px #86ABA8;
}

.navigationBar__button {
  width: 100px;
  height: 30px;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  background-color: #86ABA8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.navigationBar__button:hover {
  background-color: #193153;
  color: #86ABA8;
  border: 1px solid #86ABA8;
}

.task {
  position: relative;
  width: 250px;
  height: 50px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__label {
  position: absolute;
  font-size: 1.7rem;
  color: #86ABA8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.task__label--active {
  font-size: 1.2rem;
  -webkit-transform: translateX(-60px) translateY(-25px);
          transform: translateX(-60px) translateY(-25px);
}

.task__label--empty {
  color: #DC3B41;
}

.task__input {
  width: 250px;
  height: 40px;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid #86ABA8;
  background: transparent;
  color: #F7F0E5;
  padding-left: 15px;
  z-index: 2;
}

.task__input--empty {
  border-bottom-color: #DC3B41;
}

.city {
  position: relative;
  width: 250px;
  height: 50px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city__label {
  position: absolute;
  font-size: 1.7rem;
  color: #86ABA8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.city__label--active {
  font-size: 1.2rem;
  -webkit-transform: translateX(-60px) translateY(-25px);
          transform: translateX(-60px) translateY(-25px);
}

.city__label--empty {
  color: #DC3B41;
}

.city__input {
  width: 250px;
  height: 40px;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid #86ABA8;
  background: transparent;
  color: #F7F0E5;
  padding-left: 15px;
  z-index: 2;
}

.city__input--empty {
  border-bottom-color: #DC3B41;
}

.tooltip {
  width: 150px;
  height: 50px;
  position: absolute;
  margin-top: -50px;
  background-color: #1A3F54;
  border: 1px solid #DC3B41;
  border-radius: 10px;
  z-index: 2;
  color: #DC3B41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #DC3B41 transparent transparent transparent;
}
/*# sourceMappingURL=NavBar.css.map */