.navigationBar {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #193153;
  padding-top: 25px;
  border-bottom: solid 2px #86ABA8;
}

@media screen and (max-width: 1100px) {
  .navigationBar {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    height: 200px;
  }
}

@media screen and (max-width: 556px) {
  .navigationBar {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    height: 275px;
  }
}

.navigationBar__button {
  width: 100px;
  height: 30px;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  background-color: #86ABA8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .navigationBar__button {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column-align: left;
        justify-self: left;
    margin-left: 15px;
  }
}

@media screen and (max-width: 556px) {
  .navigationBar__button {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
    width: 200px;
    margin-top: 15px;
  }
}

.navigationBar__button:hover {
  background-color: #193153;
  color: #86ABA8;
  border: 1px solid #86ABA8;
}

.task {
  position: relative;
  width: 250px;
  height: 50px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .task {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    width: 350px;
  }
}

.task__label {
  position: absolute;
  font-size: 1.7rem;
  color: #86ABA8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.task__label--active {
  font-size: 1.2rem;
  -webkit-transform: translateX(-60px) translateY(-25px);
          transform: translateX(-60px) translateY(-25px);
}

.task__label--empty {
  color: #DC3B41;
}

.task__input {
  width: 250px;
  height: 40px;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid #86ABA8;
  background: transparent;
  color: #F7F0E5;
  padding-left: 15px;
  z-index: 2;
}

@media screen and (max-width: 1100px) {
  .task__input {
    width: 350px;
  }
}

.task__input--empty {
  border-bottom-color: #DC3B41;
}

.city {
  position: relative;
  width: 250px;
  height: 50px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .city {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    width: 350px;
    margin-top: 15px;
  }
}

.city__label {
  position: absolute;
  font-size: 1.7rem;
  color: #86ABA8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.city__label--active {
  font-size: 1.2rem;
  -webkit-transform: translateX(-60px) translateY(-25px);
          transform: translateX(-60px) translateY(-25px);
}

.city__label--empty {
  color: #DC3B41;
}

.city__input {
  width: 250px;
  height: 40px;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid #86ABA8;
  background: transparent;
  color: #F7F0E5;
  padding-left: 15px;
  z-index: 2;
}

@media screen and (max-width: 1100px) {
  .city__input {
    width: 350px;
  }
}

.city__input--empty {
  border-bottom-color: #DC3B41;
}

.deadline {
  position: relative;
  width: 250px;
  height: 50px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .deadline {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
    width: 350px;
    margin-top: 15px;
  }
}

.deadline__label {
  position: absolute;
  font-size: 1.7rem;
  color: #86ABA8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 0;
}

.deadline__label--active {
  font-size: 1.2rem;
  -webkit-transform: translateX(-60px) translateY(-25px);
          transform: translateX(-60px) translateY(-25px);
}

.deadline__label--empty {
  color: #DC3B41;
}

.deadline__input {
  width: 250px;
  height: 40px;
  font-size: 1.7rem;
  border: none;
  border-bottom: 1px solid #86ABA8;
  background: transparent;
  color: #F7F0E5;
  padding-left: 15px;
  z-index: 2;
}

@media screen and (max-width: 1100px) {
  .deadline__input {
    width: 350px;
  }
}

.deadline__input--empty {
  border-bottom-color: #DC3B41;
}

.tooltip {
  width: 150px;
  height: 50px;
  position: absolute;
  margin-top: -50px;
  background-color: #1A3F54;
  border: 1px solid #DC3B41;
  border-radius: 10px;
  z-index: 2;
  color: #DC3B41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1100px) {
  .tooltip {
    margin: 0;
    right: -260px;
    font-size: 2rem;
    width: 250px;
  }
}

@media screen and (max-width: 556px) {
  .tooltip {
    margin-top: -50px;
    right: auto;
  }
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #DC3B41 transparent transparent transparent;
}

@media screen and (max-width: 1100px) {
  .tooltip::after {
    top: 30%;
    left: 0;
    margin-left: -20px;
    border-color: transparent #DC3B41 transparent transparent;
  }
}

@media screen and (max-width: 556px) {
  .tooltip::after {
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-color: #DC3B41 transparent transparent transparent;
  }
}

.tooltip--visible {
  visibility: visible;
  -webkit-animation: show ease-in-out;
          animation: show ease-in-out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
}

@-webkit-keyframes show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=NavBar.css.map */