*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Sriracha', cursive;
  color: rgba(255, 248, 240, 1);
  background-color: rgba(29, 45, 68, 1);
}
