$accent1: #DC3B41;
$accent2: #86ABA8;
$font1: #F7F0E5;
$background1: #193153;
$background2: #1A3F54;

.footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1.5rem;
    background-color: $background1;
    border-top: solid 2px $accent2;
}

.text {
    position: absolute;
    right: 5vw;

    &__info {
        margin-right: 5px;
    }

    &__author {
        display: inline-block;
        margin-right: 5px;
        
        &::first-letter {
            color: $accent1;
        }
    }
}